2023
2024/src/*/README.md
2024/src/*/input_data.txt
2024/src/Day14
2025/day-*/input_data.txt
2025/day-*/README.md


# IDE - VSCode
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS - macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary files
*.tmp
*.temp
.cache/
